files:
  "/usr/local/bin/samplescript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
     #!/bin/bash

     # Change permissions
     chmod 600 xxxxxxx

     # Create directory
     mkdir hello

     # Append a line to a file
     echo "$SWAP_FILE         swap      swap     defaults    0 0" >> /etc/fstab

container_commands:
  01_change_permissions:
    command: "/usr/local/bin/samplescript.sh"
    ignoreErrors: true
